* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: calc(16px + (24 - 16) * ((100vw - 300px) / (1600 - 300)));
  width: 100vw;
}

@for $i from 1 through 6 {
  .mar-bottom-#{$i} {
    margin-bottom: #{$i}rem;
  }
  .mar-top-#{$i} {
    margin-top: #{$i}rem;
  }
}

.section-padding {
  padding: 3rem 6.5vw;
}

.section_header {
  font-family: "poppins";
  font-size: 3.5rem;
  font-weight: bold;
}

.section_header_small {
  font-family: "poppins";
  font-size: 3.5rem;
  font-weight: 500;
}

.user_name {
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.4;
  color: #82c85c;
}

.section_desc {
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.4;
}

.section_desc_contact {
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.4;
}

@media (max-width: 900px) {
  .section_desc_contact {
    font-size: 0.95rem;
  }
}

.section_desc_small {
  font-family: "Roboto";
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.4;
}

.txt_green {
  color: #82c85c;
}

.txt_black {
  color: #000000;
}

.txt_white {
  color: #ffffff;
}

.txt_center {
  text-align: center;
}

.social_logo {
  height: 34px;
  width: 34px;
  margin-left: 0.5rem;
}

.accent_button {
  padding: 0.75rem 1rem;
  background-color: #82c85c;
  color: #fff;
  border: none;
  margin: 2rem 0;
  border-radius: 0.75rem;
  font-family: "Poppins";
}

.social_media {
  display: flex;
  justify-content: flex-end;
}

.section_desc p {
  font-family: "Roboto";
  font-size: 1.1rem;
  color: #000000;
  font-weight: normal;
}

.test_txt p {
  font-family: "Poppins";
  font-weight: bold;
  color: #fff;
  font-size: 3rem;
}
.test_desc p {
  font-family: "Roboto";
  font-weight: bold;
  color: #fff;
  font-size: 1rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  z-index: 0;
}

.main {
  min-height: 1200px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  background-image: url(/assests/Images/backgrounds/overlay.png),
    url(/assests/Images/backgrounds/heroback.png);
  background-size: cover;
  background-position: top, center;
  background-repeat: no-repeat;

  .header_div {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;

    .logo {
      height: 120px;
      width: 120px;
    }

    .logo_2 {
      height: 60px;
    }

    .header_right {
      width: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;

      .header_contact {
        flex: 2;
        display: flex;
        flex-direction: column;
        margin-right: 2rem;
      }
    }

    @media (max-width: 900px) {
      .header_right {
        width: 65%;
        text-align: right;
      }
    }

    @media (max-width: 600px) {
      .logo {
        height: 80px;
        width: 80px;
      }

      .logo_2 {
        height: 40px;
      }
    }
  }

  .intro {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;

    .heading_1 p {
      font-family: "Poppins";
      font-size: 50px;
      font-weight: bold;
      color: white;
      justify-content: flex-start;
      margin-bottom: 1.2rem;
    }
    .heading_2 p {
      font-family: "Poppins";
      font-size: 2.25rem;
      font-weight: Medium;
      color: white;
      font-weight: 500;
      letter-spacing: 0.01rem;
      justify-content: flex-start;
      margin-bottom: 2.5rem;
    }
    .heading_3 {
      width: 100%;
      max-width: 550px;
      p {
        font-family: "Roboto";
        font-size: 1.35rem;
        color: white;
        font-weight: 300;
        line-height: 1.4;

        span {
          font-weight: bold;
        }
      }
    }
  }

  .exit {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;

    p {
      font-family: "Poppins";
      font-size: 2.5rem;
      color: white;
      font-weight: bold;
      text-align: center;
    }

    .inv_to_ext {
      padding: 0.75rem 1rem;
      background-color: #82c85c;
      color: #fff;
      border: none;
      margin-top: 1rem;
      font-size: 1.2rem;
      border-radius: 0.75rem;
      font-family: "Poppins";
    }
  }

  .footer_1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    text-align: center;

    .bottom_txt p {
      font-family: "Poppins";
      font-size: 2.3rem;
      font-weight: bold;
      text-align: center;
      margin-bottom: 0.8rem;
    }
    .bottom_txt_2 p {
      font-family: "Roboto";
      font-weight: bold;
      font-size: 1.1rem;
      line-height: 1.5;
      text-align: center;
    }
  }
}
.purpose {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  .middlediv {
    width: 70%;
    max-width: 775px;
    box-shadow: 0px 0px 20px rgba($color: #000000, $alpha: 0.1);
    border-radius: 15px;
    padding: 3rem 3.5rem;
  }
}

.schemes_gooty {
  .gooty_parent {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;

    .gooty_card {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0px 1.5rem;
      padding: 2rem;
      min-height: 550px;
      box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.1);
      border-radius: 2rem;

      img {
        align-items: center;
        height: 175px;
        width: 232px;
        margin-bottom: 1.5rem;
      }
    }
  }

  @media (max-width: 400px) {
    .gooty_parent {
      flex-direction: column;

      .gooty_card {
        margin-bottom: 2rem;
      }
    }
  }

  .gootycart_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 1.5rem;
    box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: 0.1);
    border-radius: 1.5rem;
    padding: 2rem;

    img {
      align-items: center;
      height: 175px;
      width: 232px;
      margin-bottom: 2rem;
    }
  }
}
.showcase {
  padding: 2rem 7.5vw;
  width: 100%;

  display: flex;
  flex-direction: row-reverse;
  margin-top: 50px;
  justify-content: space-between;

  .show_img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 400px;
    }
  }
  .showcase_txt_parent {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .showcase_txt {
      margin-bottom: 25px;
      P {
        font-family: "poppins";
        font-size: 3rem;
        font-weight: bold;
        color: #82c85c;
      }
    }
    .showcase_desc {
      p {
        font-family: "Roboto";
        font-size: 1.1rem;
        color: #000000;
        font-weight: normal;
      }
    }
  }
}
.areas {
  width: 100%;
  .parent_column {
    display: flex;
    flex-direction: column;

    .area_cards {
      width: 15%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      margin: 15px 0;
      padding: 10px 0px;
      height: 180px;
      border-radius: 12px;
      box-shadow: 0px 0px 20px rgba($color: #000000, $alpha: 0.1);
      p {
        font-family: "Roboto";
        font-weight: 500;
        text-align: center;
      }
      img {
        height: 80px;
      }
    }
    .row1 {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .area_parent {
        display: flex;
        flex: 2;
        flex-direction: column;
        max-width: 40%;
      }
    }
    .row2 {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}

.about_us {
  padding: 2rem 7.5vw;
  width: 100%;

  .section_desc {
    display: flex;
    P {
      margin: 30px auto;
    }
  }

  .timeline {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 0;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      margin-left: -3px;
      border: 2px dashed #2d8a5e;
    }

    .row1 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 2rem 0;

      .desc1 {
        width: 45%;
        display: flex;
        flex-direction: column;
        text-align: right;
        .year {
          display: block;
          text-align: right;
          font-weight: 600;
          font-size: 2rem;
          margin-bottom: 1rem;
          position: relative;

          &::after {
            content: "";
            height: 40px;
            width: 40px;
            background-color: #82c85c;
            position: absolute;
            border-radius: 50%;
            z-index: 1;
            top: 50%;
            transform: translateY(-50%);
            right: -14%;
          }
        }
      }
      img {
        width: 15%;
        height: 15%;
        margin: 0 auto;
      }
    }
    .row2 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 2rem 0;

      .desc1 {
        width: 45%;
        display: flex;
        flex-direction: column;
        text-align: left;
        .year {
          display: block;
          text-align: left;
          font-weight: 600;
          font-size: 2rem;
          margin-bottom: 1rem;
          position: relative;

          &::before {
            content: "";
            height: 40px;
            width: 40px;
            background-color: #82c85c;
            position: absolute;
            border-radius: 50%;
            z-index: 1;
            top: 50%;
            transform: translateY(-50%);
            left: -15%;
          }
        }
      }
      img {
        width: 15%;
        height: 15%;
        margin: 0 auto;
      }
    }
  }
}

.team {
  .team_parent {
    width: 100%;
    max-width: 700px;
  }
  .team_img_parent {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin: 50px 0;
    justify-content: space-between;
  }
  .team_img_parent {
    .team_card {
      text-align: center;
      background-color: #82c85c;
      margin: 0px 25px;

      border-radius: 20px;

      img {
        height: 400px;
        border-radius: 20px;
        margin-bottom: 2rem;
      }
    }
    .team_name {
      p {
        font-family: "Roboto";
        color: #fff;
        font-weight: bold;
        font-size: 2rem;
        margin-bottom: 0.5rem;
      }
    }
    .team_position {
      p {
        font-family: "Roboto";
        color: #fff;
        font-weight: 500;
        font-size: 1rem;
        margin-bottom: 2rem;
      }
    }
  }
}

.company_skills {
  position: relative;
  width: 100%;
  box-sizing: border-box;

  background-image: url(/assests/Images/backgrounds/overlay.png),
    url(/assests/Images/backgrounds/companyback.png);
  background-size: cover;
  background-position: top, center;
  background-repeat: no-repeat;

  .company_skills_parent {
    position: relative;
    display: flex;
    flex-direction: column;
    img {
      height: 500px;
      max-width: 75%;
      margin: 50px auto;
    }
    .company_skills_txt {
      max-width: 70%;

      P {
        font-family: "Poppins";
        font-size: 50px;
        font-weight: bold;
        color: white;
        justify-content: flex-start;
      }
    }
    .company_skills_desc {
      max-width: 700px;
      width: 100%;

      p {
        font-family: "Poppins";
        font-size: 30px;
        font-weight: 700;
        color: white;
        justify-content: flex-start;
        margin-bottom: 1rem;
      }
    }
  }
}
.clients {
  .client_img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    img {
      height: 250px;
    }
  }
}

.contact_us {
  .contact_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    .form,
    .map {
      width: 48%;
    }

    .form {
      .contact {
        width: 100%;
        input {
          width: 100%;
          margin-bottom: 1rem;
          height: 40px;
          padding: 0 10px;
        }

        input::placeholder,
        textarea::placeholder {
          color: #82c85c;
          font-size: 1rem;
          font-family: "poppins";
        }
        textarea {
          width: 100%;
          resize: none;
          margin-bottom: 1rem;
          padding: 0 10px;
        }
      }
    }
  }
}

.footer {
  width: 100%;
  padding: 0 7.5vw;
  min-height: 1000px;
  background-color: #2d8a5e;
  .footer_top_end {
    display: flex;
    flex-direction: row;
    padding: 50px 0px;
    justify-content: space-around;

    .f_column_1 {
      display: flex;
      flex-direction: column;
      max-width: 30%;
      justify-content: space-between;
      align-items: center;
      img {
        height: 100px;
        width: 100px;
        align-items: flex-start;
        margin-bottom: 1rem;
      }
      p {
        font-family: "Roboto";
        color: #fff;
        text-align: center;
        line-height: 1.5;
      }
    }
    .f_column_2 {
      .f_c_header {
        P {
          font-family: "Roboto";
          color: #fff;
          font-weight: bold;
          margin-bottom: 2rem;
        }
      }
      p {
        font-family: "Roboto";
        color: #fff;
        font-weight: 00;

        margin-bottom: 1rem;
      }
    }
  }
  .bottom_end {
    width: 80%;
    background-color: #fff;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 15px;
    .section_header {
      text-align: center;

      p {
        margin: 0 auto;
        font-size: 3rem;
      }
    }
    .we_are_info {
      display: flex;
      flex-direction: column;
      text-align: center;

      p {
        margin: 10px auto;
        font-family: "Roboto";
        padding: 0px 80px;
      }
    }
    .we_bold {
      font-family: "Roboto";
      font-weight: 600;
    }
  }
  .end {
    width: 100%;
    p {
      margin: 20px auto;
      font-family: "Roboto";
      color: #fff;
    }
  }
}
