* {
  margin: 0;
  padding: 0;
}

section {
  height: 1376px;
  position: relative;
  width: 100%;
  padding: 0 7.5vw;
  box-sizing: border-box;
  background-image: url(/assests/Images/backgrounds/heroback.png);
  background-size: cover;
  background-position: center;
}

.header_div {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_right {
  width: 45%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header_contact {
  flex: 2;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}
.logo {
  height: 80px;
  width: 80px;
}

.social_media {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}
.social_media img {
  height: 30px;
  width: 30px;
  margin-left: 0.5rem;
}
.header_contact p {
  font-family: "Roboto";
  font-size: 1.05rem;
  color: white;
  text-align: right;
}
.intro {
  width: 45%;
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.heading_1 p {
  font-family: "Poppins";
  font-size: 50px;
  font-weight: bold;
  color: white;
  justify-content: flex-start;
}
.heading_2 p {
  font-family: "Poppins";
  font-size: 30px;
  font-weight: Medium;
  color: white;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
.heading_3 p {
  font-family: "Roboto";
  font-size: 18px;
  color: white;
}
.heading_3 span {
  font-weight: bold;
}
.exit {
  width: 100%;
}
.exit p {
  font-family: "Poppins";
  font-size: 30px;
  color: white;
  font-weight: bold;
  text-align: center;
}
.footer_1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  bottom: 0px;

  text-align: center;
}
.bottom_txt p {
  font-family: "Poppins";
  font-size: 2.3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.8rem;
}
.bottom_txt_2 p {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}
